h1 {
    color: bisque;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number {
    color: aqua;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.txt {
   color: aliceblue; 
}

.Tar {
    margin-top: 1pc;
    width: 30pc;
    display: flex;
    align-items: center;
}

.Tar:hover {
    background-color: rgba(189, 189, 189, 0.26);
}

.foto {
    width: 6pc;
    border-radius: 1pc;
}

.hijo1 {
    margin-left: 11px;
    display: block;
}

.hijo2 {
    padding-left: 25px;
    display: block;
}

.mar {
    margin: 5px 0;
}

.I {
    position: absolute;
}

.pa {
    margin-top: 41pc;
}

.ma {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
} 

.modal
{
    position: fixed;
    font-size: 23px;
    color: #fff;
    width: 800px;
    height: 400px;
    background: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
    color: black;

}
.informationCharacter
{
    position: absolute;
    top: 90px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.characterImage
{
    height: 400px;
    border-radius: 15px;
}
.closeButton
{
    position: absolute;
    right: 50px;
    margin: 10px;
}