h1 {
    color: #ffffff;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.number {
    color: aqua;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.txt {
   color: aliceblue; 
}

.Tar {
    margin-top: 1pc;
    width: 30pc;
    display: flex;
    align-items: center;
}

.Tar:hover {
    background-color: rgba(189, 189, 189, 0.26);
}

.foto {
    width: 6pc;
    border-radius: 1pc;
}

.fotos {
    align-items: center;
    justify-items: center;
}

.hijo1 {
    margin-left: 11px;
    display: block;
}

.hijo2 {
    padding-left: 25px;
    display: block;
}

.mar {
    margin: 5px 0;
}

.I {
    position: absolute;
}

.pa {
    margin-top: 41pc;
}

.ma {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
} 

.modal
{
    border-color: black;
    position: fixed;
    font-size: 23px;
    width: 800px;
    height: 400px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
}
.informationCharacter
{
    position: absolute;
    top: 90px;
    right: 110px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.characterImage {
    height: 400px;
    border-radius: 15px;
}
.closeButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    position: absolute;
    font-size: medium;
    margin-top: 300px;
    right: 50px;
    margin: 10px;
    border-radius: 20cm;
}

.span {
    margin: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, monospace;
    color: rgb(107, 106, 106);
    justify-items: end;
}

